html {
    background: #22aa88;
}

body {
    max-width: 30em;
    margin: auto;
    width: 100%;

    background: #fefefe;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

header {
    font-family: cursive;
}

.post-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: sans-serif;
}

h3 {
    padding-left: 1em;
}

p {
    text-align: justify;
    font-family: monospace;
}

footer {
    padding-top: 1em;
    padding-bottom: 1em;
}

footer p {
    text-align: center;
}
