html {
}

body {
    font-family: Montserrat, Georgia, Times, Times New Roman, serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fcfdff;
    color: #0e111a;
    margin: 0;
    padding: 0;
}

header {
    font-family: "UnifrakturCook", cursive;
    background: #000;
    color: #fcfdff;
}

main {
    width: 40em;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
}

@media (max-width: 40em) {
    main {
        width: 100%;
    }

    .post-title {
        flex-direction: column;
    }

    article {
        padding-left: 1em;
        padding-right: 1em;
        text-align: left;
        text-justify: none;
    }
}

.post-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

h1 {
    text-align: center;
    font-size: 6em;
    margin-top: 4vh;
    margin-bottom: 5vh;
}

h2 {
    font-family: "Lobster", Georgia, Times, Times New Roman, serif;
    font-size: 36px;
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
    color: #0e111a;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

article {
    text-align: justify;
    text-justify: inter-word;
}

a {
    color: #0e111a;
    text-decoration: underline #0075cf;
}

p {
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 1vh;
    line-height: 1.4;
}

input, textarea {
    width: 100%;
}

footer {
    background: #000;
    color: #fcfdff;
    padding-top: 2em;
    padding-bottom: 2em;
}

footer a {
    color: #36a7ff;
}

footer p {
    text-align: center;
}
